---
---

@import "{{ site.theme }}";

header {
  background: #020181 url(https://raw.githubusercontent.com/jeungsook/cs135/master/images/banner.jpg);
  padding-bottom: 30px;
}

a.button {
    width: 202px;
    height: 80px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 23px;
    line-height: 1.2;
    color: #fff;
}

#content-wrapper {
    padding-top: 0px;
}

#main-content {
    width: 95%;
    padding-top: 30px;
    margin-left: 30px;
}

.w3-light-purple, .w3-hover-light-purple:hover {
    color: #fff!important;
    background-color: #91678d!important;
}

.w3-hover-strike {
    color: #fff!important;
    background-color: #91678d!important;
    text-decoration:line-through;
}

.w3-navbar {
    a{color:inherit}
}

blockquote {
    font-size: 15px;
}
