---
---

@import "{{ site.theme }}";

header {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, serif !important;
  background: #020181 url(https://raw.githubusercontent.com/jeungsook/cs135/master/images/banner.jpg);
}

h1, h2, h3, h4, h5, h6, .w3-slim, .w3-wide {
    font-family: 'Raleway',Black,sans-serif;
}

a.button {
    width: 202px;
    height: 80px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 23px;
    line-height: 1.2;
    color: #fff;
}
